@import '~antd/dist/antd.css';

.product-list {
    display: block; 
    color: #606c71;
}

.product-list:hover,
.product-list:focus {
    color: #606c71;
}

.products {
    padding: 15px 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.products-header {
    display: flex;
    justify-content: space-between;
}

.products-header .image {
    display: flex;
}

.products-header .image img {
    max-width: 75px;
    width: 100%;
    max-height: 75px;
    height: auto;
    margin-right: 15px;
}

.products-header .image.no-logo img {
    border: 1px solid #ddd;
    background: #ccc;
}

.products-header span.view-details-btn {
    padding: 10px 15px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products h3 {
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}

.products p {
    margin: 0;
    line-height: 30px;
}

.products p i {
    margin-right: 7px;
    font-size: 17px;
}

.products p.details {
    font-weight: 500;
}

.products p.details span {
    font-weight: normal;
}

.products p.description {
    display: block !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.products.product-details {
    box-shadow: none;
    padding-top: 0;
}

.products.products.product-details .products-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
}

.products.products.product-details p.description {
    height: auto;
    display: block;
    overflow: initial;
}

.products.products.product-details p.how-to-apply {
    padding-top: 25px;
    font-size: 18px;
}

.filters {
    display: flex;
    margin: 0 20px 30px;
}

.filters .type {
    margin-right: 30px;
}

.filters label {
    display: block;
    padding-bottom: 10px;
}

.filters select {
    height: 35px;
    width: 200px;
}

.no-results-found {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

@media(max-width: 585px) {
    .products {
        position: relative;
    }

    .products-header {
        display: block;
    }

    .products-header a {
        display: block;
    }

    .products span.view-details-btn {
        margin-top: 15px;
    }

    .filters {
        flex-direction: column;
    }

    .filters .type {
        margin: 0 0 30px 0;
    }

    .filters select {
        width: 95%;
    }
}